<div style="margin:0 auto;width:800px">
 <div style="background:#fff none repeat scroll 0 0;margin:10px 0 0;border-radius:2px 2px 0 0;border-top:10px solid #607d8b">
	<table border="0" cellspacing="0" cellpadding="0" style="width:100%;border:thin #ddd solid;border-collapse:collapse">
	
		<tbody><tr><td><table style="border:0;width:100%;border-collapse:collapse;border-radius:20px;font-family:Arial,Helvetica,sans-serif;font-size:17px">
			<tbody><tr bgcolor="#fff" style="border-bottom:1px solid #ddd;color:#333">
				<td style="padding:10px 20px"><h3>CLOUD</h3></td><td style="padding:10px 20px;text-align:right;width:auto">Email :<a href="#" style="text-decoration:none;color:#0bb6f1">support@cloud.com</a></td>
			</tr>
		</tbody></table>
		
		<div style="padding:20px">
		
		<table style="border:0;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;color:#555;font-size:16px;margin-bottom:10px" cellpadding="8">
			
			<tbody><tr><td><b>Dear Bayapu reddy,</b></td></tr>
			<tr><td><b style="color:#555">Please find your login credentials.</b></td></tr>
			<tr>
				<td>
					<table border="0" cellpadding="15" style="border:0;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;color:#333;border:1px solid #eee">
					<tbody>
					<tr>
					<td bgcolor="#f9f9f9" style="border-bottom:1px solid #eee;border-right:1px solid #eee">User ID</td>
					<td bgcolor="#f9f9f9" style="border-bottom:1px solid #eee"><a href="mailto:bayapureddy004@gmail.com" target="_blank">bayapureddy004@gmail.com</a></td>
					</tr>
					<tr>
					<td bgcolor="#f9f9f9" style="border-bottom:1px solid #eee;border-right:1px solid #eee">Unique Password:</td>
					<td bgcolor="#f9f9f9" style="border-bottom:1px solid #eee">123456789</td>
					</tr>
					<tr>
					<td colspan="2"><b style="color:#000000">Note: Please change your password once you login with the above Unique Password.</b><br>The unique password You received will be active only for 24 hours.</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-size:15px;margin-top:20px">
					<b>Thanks &amp; Regards,</b><br>
					<b style="color:#869a00">Cloud,</b><br>
					<b style="color:#ff0060">Cloud Solutions </b><br>
					<b style="color:#038bff">INDIA : 040-63xxx<br>
					<a href="http://www.cloud.com" target="_blank" >www.Cloud.com</a></b><br></p>
				</td>
			</tr>
			
			<tr>
				<td>Thank you. This is an automated response. PLEASE DO NOT REPLY.</td>
			</tr>
		</tbody></table>
		</div>
		
		<table style="border:0;width:100%;border-collapse:collapse">
		<tbody><tr bgcolor="#2a3940" style="font-size:14px;line-height:22px">
			<td style="padding:20px;color:#fff;text-align:center;font-family:Arial,Helvetica,sans-serif">Copyright © 2015 <a href="http://www.ustaxfiler.com" style="text-decoration:none;color:#607d8b" target="_blank" >www.cloud.com</a> All Rights Reserved</td>
		</tr>
		</tbody></table>
	</td></tr></tbody></table><div class="yj6qo"></div><div class="adL">
	</div></div><div class="adL">
</div></div>